body {
background-image:url(img/cool-background.png);
/*border: solid 15px;;
border-color: rgb(100, 100, 100);*/
}

h1{
    background-color:darkgrey;
    color: rgb(90 90 90);
}

h2{
    color: rgb(90 90 90);
}

p{
    color: rgb(80 80 80);
}

b{
    color: rgb(80 80 80);
}

.tit{
    background-color: darkgray;
    width:7%;
}

.link{
    text-align: right;
    background-color:darkgrey;
}

.top2{
    background-color: white;
}

.top1{
    background-color: white;
    padding-top: 1%;
}

.koala{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    float: left;
}

.pro{
    text-indent: 20%;
    font-size: 200%;
}

.left{
    float: left;
    margin-left: 0%;
}

.right{
    float: right;
    margin-right: 0%;
}

.clear{
    clear: both;
}

.manga{
    margin-left: 50%;
}

.gray{
    background-color: darkgrey;
    width: 100%;
    margin: 0%;
}

.center{
    text-align: center;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5%;
}